/*--- Desktop first approach ---*/

@media screen and (max-width: 862px) {
  #search-container,
  #left-sec {
    display: none;
  }

  main {
    padding: 90px 160px 100px 70px;
  }
}

@media screen and (max-width: 672px) {
  #queue {
    display: none;
  }

  main {
    padding: 90px 70px 100px 70px;
  }
}

@media screen and (max-width: 573px) {
  #song-section {
    padding: 10px 0px 10px 0px;
  }

  main {
    padding: 90px 0px 100px 0px;
  }

  .playing-track,
  .playlist-sec-1,
  .carousel,
  .notification,
  .setting {
    display: none;
  }
}
